{"openapi":"3.1.0","info":{"title":"POLARIS Online","version":"0.0.1"},"servers":[{"url":"https:\/\/polaris-online.c2n.adalfantln.marine.defensecdd.gouv.fr\/apps\/api"}],"security":[{"http":[]}],"paths":{"\/excon\/v1\/engagements":{"get":{"operationId":"engagement.index","summary":"Display a listing of the resource","tags":[["Module Excon: Engagement"]],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"type":"string"}}}},"401":{"$ref":"#\/components\/responses\/AuthenticationException"}}}},"\/excon\/v1\/ackowledge_engagement":{"post":{"operationId":"engagement.acknowledge","summary":"Store a newly created resource in storage","tags":[["Module Excon: Engagement"]],"requestBody":{"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/AckEngagementRequest"}}}},"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"type":"array","items":{"type":"string"},"minItems":0,"maxItems":0,"additionalItems":false}}}},"401":{"$ref":"#\/components\/responses\/AuthenticationException"},"422":{"$ref":"#\/components\/responses\/ValidationException"},"403":{"$ref":"#\/components\/responses\/AuthorizationException"}}}},"\/excon\/v1\/position":{"put":{"operationId":"position.store","summary":"Store a newly created resource in storage","tags":[["Module Excon: Position"]],"requestBody":{"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/PositionRequest"}}}},"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"type":"string"}}}},"401":{"$ref":"#\/components\/responses\/AuthenticationException"},"422":{"$ref":"#\/components\/responses\/ValidationException"},"403":{"$ref":"#\/components\/responses\/AuthorizationException"}}}},"\/fcmcentral\/v1\/postevent":{"post":{"operationId":"post-event","summary":"D\u00e9poser un ev\u00e8nement relatif \u00e0 la FCM","tags":[["Module FCM Central: Evenements"]],"requestBody":{"content":{"application\/json":{"schema":{"type":"object"}}}},"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"type":"string"}}}},"401":{"$ref":"#\/components\/responses\/AuthenticationException"}}}},"\/fcmcentral\/v1\/get_marin_history\/{uuid}":{"get":{"operationId":"get_marin_history","summary":"R\u00e9cup\u00e8re l'historique FCM d'un marin","tags":[["Module FCM Central: Historique"]],"parameters":[{"name":"uuid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"type":"string"}}}},"400":{"description":"","content":{"application\/json":{"schema":{"type":"object","properties":{"error":{"type":"string","example":"user not found"}},"required":["error"]}}}},"401":{"$ref":"#\/components\/responses\/AuthenticationException"}}}},"\/fcmcentral\/v1\/parcours":{"get":{"operationId":"get_parcours_list","summary":"Lister les parcours de FCM","tags":[["Module FCM Central: Parcours"]],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"type":"string"}}}},"401":{"$ref":"#\/components\/responses\/AuthenticationException"}}}},"\/fcmcentral\/v1\/parcours\/{parcours}":{"get":{"operationId":"get_parcours_description","summary":"Obtenir la description compl\u00e8te d'un parcours","tags":[["Module FCM Central: Parcours"]],"parameters":[{"name":"parcours","in":"path","required":true,"description":"The parcours ID","schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"type":"string"}}}},"404":{"$ref":"#\/components\/responses\/ModelNotFoundException"},"401":{"$ref":"#\/components\/responses\/AuthenticationException"}}}},"\/fcmcentral\/v1\/tous_parcours_serialises":{"get":{"operationId":"get_tous_parcours_serialises","summary":"Obtenir la definition compl\u00e8te de tous les parcours existants","tags":[["Module FCM Central: Parcours"]],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"type":"string"}}}},"401":{"$ref":"#\/components\/responses\/AuthenticationException"}}}},"\/fleetprogram\/v1\/activites":{"get":{"operationId":"activites.index","summary":"Liste des activites","tags":[["Module Fleetprogram: Activite"]],"parameters":[{"name":"filter[nom]","in":"query","description":"Le nom de l'activite recherch\u00e9","schema":{"type":"string"},"example":"GABIAN"},{"name":"filter[pour_annee]","in":"query","description":"Limiter les activites aux activites de l'annee indiqu\u00e9e.","schema":{"type":"number"},"example":2025}],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"type":"string"}}}},"422":{"$ref":"#\/components\/responses\/ValidationException"},"401":{"$ref":"#\/components\/responses\/AuthenticationException"}}}},"\/fleetprogram\/v1\/activite\/{activite}":{"get":{"operationId":"activites.show","summary":"Show the specified resource","tags":[["Module Fleetprogram: Activite"]],"parameters":[{"name":"activite","in":"path","required":true,"description":"The todo item being updated.","schema":{"type":"string"}}],"responses":{"200":{"description":"`Activite`","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Activite"}}}},"404":{"$ref":"#\/components\/responses\/ModelNotFoundException"},"401":{"$ref":"#\/components\/responses\/AuthenticationException"}}}},"\/fleetprogram\/v1\/activite\/{activite}\/changes":{"get":{"operationId":"activites.changes","summary":"Show the changes in time of the resource","tags":[["Module Fleetprogram: Activite"]],"parameters":[{"name":"activite","in":"path","required":true,"description":"The activite UUID","schema":{"type":"string"}}],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"type":"string"}}}},"404":{"$ref":"#\/components\/responses\/ModelNotFoundException"},"401":{"$ref":"#\/components\/responses\/AuthenticationException"}}}},"\/rh\/v1\/marins":{"get":{"operationId":"marin.index","summary":"Liste des marins","tags":[["Module RH: Marin"]],"parameters":[{"name":"filter[nid]","in":"query","description":"Le NID du marin recherch\u00e9","schema":{"type":"string"},"example":"0012030028"}],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"type":"string"}}}},"422":{"$ref":"#\/components\/responses\/ValidationException"},"401":{"$ref":"#\/components\/responses\/AuthenticationException"}}}},"\/rh\/v1\/marin":{"post":{"operationId":"marin.store","summary":"Cree un nouveau marin","tags":[["Module RH: Marin"]],"requestBody":{"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/StoreMarinRequest"}}}},"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"type":"string"}}}},"400":{"description":"","content":{"application\/json":{"schema":{"type":"string","example":"Un marin avec ce NID existe deja"}}}},"401":{"$ref":"#\/components\/responses\/AuthenticationException"},"422":{"$ref":"#\/components\/responses\/ValidationException"},"403":{"$ref":"#\/components\/responses\/AuthorizationException"}}}},"\/v1\/whoami":{"get":{"operationId":"skeletor.whoAmI","summary":"Qui suis-je ?","tags":[["Skeletor"]],"responses":{"200":{"description":"Test du fonctionnement de l'API: retourne l'objet utilisateur.","content":{"application\/json":{"schema":{"type":"string"}}}},"401":{"$ref":"#\/components\/responses\/AuthenticationException"}}}},"\/v1\/status":{"get":{"operationId":"skeletor.status","tags":[["Skeletor"]],"responses":{"200":{"description":"Test du fonctionnement de l'API: retourne l'\u00e9tat du service.","content":{"application\/json":{"schema":{"type":"object","properties":{"status":{"type":"string","example":"OK"}},"required":["status"]}}}},"401":{"$ref":"#\/components\/responses\/AuthenticationException"}}}},"\/v1\/status-detailed":{"get":{"operationId":"skeletor.statusDetailed","tags":[["Skeletor"]],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"type":"object","properties":{"status":{"type":"string","example":"OK"},"configuration":{"type":"object","properties":{"VERSION":{"type":"string"},"DATABASE":{"type":"object","properties":{"DB_ENGINE":{"type":"string"},"DB_HOST":{"type":"string"}},"required":["DB_ENGINE","DB_HOST"]},"MODULES":{"type":"array","items":{"type":"string"},"minItems":0,"maxItems":0,"additionalItems":false}},"required":["VERSION","DATABASE","MODULES"]}},"required":["status","configuration"]}}}},"401":{"$ref":"#\/components\/responses\/AuthenticationException"}}}},"\/documentation":{"get":{"operationId":"l5-swagger.default.api","summary":"Display Swagger API page","tags":[["Swagger"]],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"type":"object"}}}}}}},"\/docs\/{jsonFile}":{"get":{"operationId":"l5-swagger.default.docs","summary":"Dump api-docs content endpoint. Supports dumping a json, or yaml file","tags":[["Swagger"]],"parameters":[{"name":"jsonFile","in":"path","required":true,"description":"**Optional**","schema":{"type":"string"},"x-optional":true}],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"type":"object"}}}},"404":{"$ref":"#\/components\/responses\/ModelNotFoundException"}}}},"\/oauth2-callback":{"get":{"operationId":"l5-swagger.default.oauth2_callback","summary":"Display Oauth2 callback pages","tags":[["Swagger"]],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"type":"string"}}}}}}},"\/docs\/asset\/{asset}":{"get":{"operationId":"l5-swagger.default.asset","tags":[["SwaggerAsset"]],"parameters":[{"name":"asset","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"type":"string"}}}},"404":{"$ref":"#\/components\/responses\/ModelNotFoundException"}}}}},"components":{"securitySchemes":{"http":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}},"schemas":{"AckEngagementRequest":{"type":"object","properties":{"engagement":{"type":"string","description":"Identifiant de l'engagement \u00e0 acquitter","example":"3"}},"required":["engagement"],"title":"AckEngagementRequest"},"Activite":{"type":"object","properties":{"uuid":{"type":"string"},"nom":{"type":"string"},"date_debut":{"type":"string"},"date_fin":{"type":"string"},"data":{"type":["array","null"],"items":{"type":"string"}},"created_at":{"type":["string","null"],"format":"date-time"},"updated_at":{"type":["string","null"],"format":"date-time"},"id":{"type":"integer"}},"required":["uuid","nom","date_debut","date_fin","data","created_at","updated_at","id"],"title":"Activite"},"PositionRequest":{"type":"object","properties":{"source":{"type":"string","description":"La source \u00e0 l'origine de cette position","example":"COT"},"latitude":{"type":"string","description":"La latitude","example":"43.2"},"longitude":{"type":"string","description":"La longitude","example":"5.123"},"identifier":{"type":"string","description":"L'identifiant de l'unit\u00e9 dont la position est report\u00e9e. Le couple source, identifier doit correspondre \n\u00e0 une entr\u00e9e dans la table des identifiers.'","example":"COT_1"},"timestamp":{"type":"string","description":"La date\/heure pour laquelle la position est report\u00e9e","example":"2024-01-12 12:03:45"}},"required":["source","latitude","longitude","identifier"],"title":"PositionRequest"},"StoreMarinRequest":{"type":"object","properties":{"id":{"type":"string"},"nom":{"type":"string"},"prenom":{"type":"string"},"nid":{"type":"string"}},"required":["id","nom","prenom","nid"],"title":"StoreMarinRequest"}},"responses":{"ModelNotFoundException":{"description":"Not found","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Error overview."}},"required":["message"]}}}},"AuthenticationException":{"description":"Unauthenticated","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Error overview."}},"required":["message"]}}}},"ValidationException":{"description":"Validation error","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Errors overview."},"errors":{"type":"object","description":"A detailed description of each field that failed validation.","additionalProperties":{"type":"array","items":{"type":"string"}}}},"required":["message","errors"]}}}},"AuthorizationException":{"description":"Authorization error","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Error overview."}},"required":["message"]}}}}}}}