{"openapi":"3.1.0","info":{"title":"POLARIS Online","version":"0.0.1"},"servers":[{"url":"https:\/\/polaris-online.c2n.adalfantln.marine.defensecdd.gouv.fr\/apps\/api"}],"security":[{"http":[]}],"paths":{"\/fcmcentral\/v1\/cohortes":{"get":{"operationId":"get_toutes_cohortes","summary":"Renvoie la liste des cohortes connues","tags":[["Module FCM Central: Cohortes"]],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"type":"array","items":{"$ref":"#\/components\/schemas\/Cohorte"}}}}},"401":{"$ref":"#\/components\/responses\/AuthenticationException"}}}},"\/fcmcentral\/v1\/postevent":{"post":{"operationId":"post-event","summary":"D\u00e9poser un ev\u00e8nement relatif \u00e0 la FCM","tags":[["Module FCM Central: Evenements"]],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"type":"string","const":"Hello World"}}}},"401":{"$ref":"#\/components\/responses\/AuthenticationException"}}}},"\/fcmcentral\/v1\/get_marin_history\/{uuid}":{"get":{"operationId":"get_marin_history","summary":"R\u00e9cup\u00e8re l'historique FCM d'un marin","tags":[["Module FCM Central: Historique"]],"parameters":[{"name":"uuid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"type":"array","items":{"type":"object"}}}}},"400":{"description":"","content":{"application\/json":{"schema":{"type":"object","properties":{"error":{"type":"string","const":"user not found"}},"required":["error"]}}}},"401":{"$ref":"#\/components\/responses\/AuthenticationException"}}}},"\/fcmcentral\/v1\/parcours":{"get":{"operationId":"get_parcours_list","summary":"Lister les parcours de FCM","tags":[["Module FCM Central: Parcours"]],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"type":"array","items":{"$ref":"#\/components\/schemas\/Parcours"}}}}},"401":{"$ref":"#\/components\/responses\/AuthenticationException"}}}},"\/fcmcentral\/v1\/parcours\/{parcours}":{"get":{"operationId":"get_parcours_description","summary":"Obtenir la description compl\u00e8te d'un parcours","tags":[["Module FCM Central: Parcours"]],"parameters":[{"name":"parcours","in":"path","required":true,"description":"The parcours ID","schema":{"type":"integer"}}],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"type":"array","items":{"$ref":"#\/components\/schemas\/ParcoursSerialise"}}}}},"404":{"$ref":"#\/components\/responses\/ModelNotFoundException"},"401":{"$ref":"#\/components\/responses\/AuthenticationException"}}}},"\/fcmcentral\/v1\/tous_parcours_serialises":{"get":{"operationId":"get_tous_parcours_serialises","summary":"Obtenir la definition compl\u00e8te de tous les parcours existants","tags":[["Module FCM Central: Parcours"]],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"type":"array","items":{"$ref":"#\/components\/schemas\/ParcoursSerialise"}}}}},"401":{"$ref":"#\/components\/responses\/AuthenticationException"}}}},"\/rh\/v1\/marins":{"get":{"operationId":"marin.index","summary":"Liste des marins","tags":[["Module RH: Marin"]],"parameters":[{"name":"filter[nid]","in":"query","description":"Le NID du marin recherch\u00e9","schema":{"type":"string"},"example":"0012030028"}],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"type":"array","items":{"type":"object"}}}}},"422":{"$ref":"#\/components\/responses\/ValidationException"},"401":{"$ref":"#\/components\/responses\/AuthenticationException"}}}},"\/rh\/v1\/marin":{"post":{"operationId":"marin.store","summary":"Cree un nouveau marin","tags":[["Module RH: Marin"]],"requestBody":{"required":true,"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/StoreMarinRequest"}}}},"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"type":"object","additionalProperties":[]}}}},"400":{"description":"","content":{"application\/json":{"schema":{"type":"string","const":"Un marin avec ce NID existe deja"}}}},"401":{"$ref":"#\/components\/responses\/AuthenticationException"},"422":{"$ref":"#\/components\/responses\/ValidationException"}}}},"\/v1\/whoami":{"get":{"operationId":"skeletor.whoAmI","summary":"Qui suis-je ?","tags":[["Skeletor"]],"responses":{"200":{"description":"Test du fonctionnement de l'API: retourne l'objet utilisateur.\n\n\n\n`User`","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/User"}}}},"401":{"$ref":"#\/components\/responses\/AuthenticationException"}}}},"\/v1\/status":{"get":{"operationId":"skeletor.status","tags":[["Skeletor"]],"responses":{"200":{"description":"Test du fonctionnement de l'API: retourne l'\u00e9tat du service.","content":{"application\/json":{"schema":{"type":"object","properties":{"status":{"type":"string","const":"OK"}},"required":["status"]}}}},"401":{"$ref":"#\/components\/responses\/AuthenticationException"}}}},"\/v1\/status-detailed":{"get":{"operationId":"skeletor.statusDetailed","tags":[["Skeletor"]],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"type":"object","properties":{"status":{"type":"string","const":"OK"},"configuration":{"type":"object","properties":{"VERSION":{"type":"string"},"DATABASE":{"type":"object","properties":{"DB_ENGINE":{"type":"string"},"DB_HOST":{"type":"string"},"CONNECTION_TEST":{"type":"string","const":"NOK"}},"required":["DB_ENGINE","DB_HOST","CONNECTION_TEST"]},"MODULES":{"type":"array","items":{"type":"array","prefixItems":[{"type":"string"}],"minItems":1,"maxItems":1,"additionalItems":false}}},"required":["VERSION","DATABASE","MODULES"]}},"required":["status","configuration"]}}}},"401":{"$ref":"#\/components\/responses\/AuthenticationException"}}}},"\/documentation":{"get":{"operationId":"l5-swagger.default.api","summary":"Handles the API request and renders the Swagger documentation view","tags":[["Swagger"]],"responses":{"200":{"description":"Need the \/ at the end to avoid CORS errors on Homestead systems.","content":{"application\/json":{"schema":{"type":"string"}}}}}}},"\/docs":{"get":{"operationId":"l5-swagger.default.docs","summary":"Handles requests for API documentation and returns the corresponding file content","tags":[["Swagger"]],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"type":"string"}},"application\/yaml":{"schema":{"type":"string"}}},"headers":{"Content-Disposition":{"schema":{"type":"string","const":"inline"}}}},"404":{"$ref":"#\/components\/responses\/ModelNotFoundException"}}}},"\/oauth2-callback":{"get":{"operationId":"l5-swagger.default.oauth2_callback","summary":"Handles the OAuth2 callback and retrieves the required file for the redirect","tags":[["Swagger"]],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"type":"string"}}}}}}},"\/docs\/asset\/{asset}":{"get":{"operationId":"l5-swagger.default.asset","summary":"Serves a specific documentation asset for the Swagger UI interface","tags":[["SwaggerAsset"]],"parameters":[{"name":"asset","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"type":"object"}}}},"404":{"$ref":"#\/components\/responses\/ModelNotFoundException"}}}}},"components":{"securitySchemes":{"http":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}},"schemas":{"Cohorte":{"type":"object","properties":{"id":{"type":"integer"},"uuid":{"type":"string"},"libelle_long":{"type":"string"},"libelle_court":{"type":"string"},"date_sortie_cours":{"type":["string","null"]},"created_at":{"type":["string","null"],"format":"date-time"},"updated_at":{"type":["string","null"],"format":"date-time"}},"required":["id","uuid","libelle_long","libelle_court","date_sortie_cours","created_at","updated_at"],"title":"Cohorte"},"Parcours":{"type":"object","properties":{"id":{"type":"integer"},"uuid":{"type":"string"},"code":{"type":"string"},"libelle_court":{"type":"string"},"libelle_long":{"type":["string","null"]},"parcours_type_id":{"type":"integer"},"ordre":{"type":"integer"},"color":{"type":["string","null"]},"created_at":{"type":["string","null"],"format":"date-time"},"updated_at":{"type":["string","null"],"format":"date-time"}},"required":["id","uuid","code","libelle_court","libelle_long","parcours_type_id","ordre","color","created_at","updated_at"],"title":"Parcours"},"ParcoursSerialise":{"type":"object","properties":{"id":{"type":"integer"},"uuid":{"type":"string"},"libelle_long":{"type":"string"},"libelle_court":{"type":"string"},"version":{"type":"integer"},"date_debut":{"type":["string","null"]},"date_fin":{"type":["string","null"]},"parcours":{"type":["array","null"],"items":[]},"parcours_id":{"type":"integer"},"created_at":{"type":["string","null"],"format":"date-time"},"updated_at":{"type":["string","null"],"format":"date-time"}},"required":["id","uuid","libelle_long","libelle_court","version","date_debut","date_fin","parcours","parcours_id","created_at","updated_at"],"title":"ParcoursSerialise"},"StoreMarinRequest":{"type":"object","properties":{"id":{"type":"string"},"nom":{"type":"string"},"prenom":{"type":"string"},"nid":{"type":"string"}},"required":["id","nom","prenom","nid"],"title":"StoreMarinRequest"},"User":{"type":"object","properties":{"id":{"type":"integer"},"uuid":{"type":["string","null"]},"nom":{"type":"string"},"prenom":{"type":"string"},"email":{"type":"string"},"email_verified_at":{"type":["string","null"],"format":"date-time"},"display_name":{"type":"string"},"admin":{"type":"integer"},"data":{"type":["array","null"],"items":[]},"created_at":{"type":["string","null"],"format":"date-time"},"updated_at":{"type":["string","null"],"format":"date-time"},"deleted_at":{"type":["string","null"],"format":"date-time"},"sub":{"type":["string","null"]}},"required":["id","uuid","nom","prenom","email","email_verified_at","display_name","admin","data","created_at","updated_at","deleted_at","sub"],"title":"User"}},"responses":{"ModelNotFoundException":{"description":"Not found","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Error overview."}},"required":["message"]}}}},"AuthenticationException":{"description":"Unauthenticated","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Error overview."}},"required":["message"]}}}},"ValidationException":{"description":"Validation error","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Errors overview."},"errors":{"type":"object","description":"A detailed description of each field that failed validation.","additionalProperties":{"type":"array","items":{"type":"string"}}}},"required":["message","errors"]}}}}}}}