/node_modules
/public/hot
/public/storage
/storage/*.key
.env
.env.dev
.env.dusk.dev
.env.testing
.env.production
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
php-fpm.log
scheduler.log
worker.log
modules_statuses.json