
@media screen and (max-width: 600px) {
    .bandeauMenu{
        display:none !important;
    }
}
@media print {
    .pagebreak { page-break-before: always; } /* page-break-after works, as well */
}
/***************************************/
/*partie pour impression pdf du livret*/
.tableimp{
    width:100%; 
    vertical-align:top; 
    border-collapse: collapse;
    font-family: helvetica; 
    font-size: 30pt;
    border: 1px solid black;
}
.tdimp{
    border: 1px solid black;
    font-size: 30pt;

}
/***************************************/
body{
    font-family: Helvetica, Verdana, Arial, sans-serif;
    background-color:white;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    margin: auto;
    overflow: auto;
   
}
table table {
    border: 0px;
}
/*ajoute par sza pour cadre autour ssobj V2*/
.cadressobj{
    border-color: #737980;
    border-width: 1px;
    border-style: solid;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
}

/*ajoute par sza pour titre erreur dans les identifiants V2*/
.errident{
    text-align: center;
    font-size: x-large;    
}
/*ajoute sza pour titre navbar verticale*/
.titrenavbarvert{
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    text-align: center;
    font-size: smaller;
    color:#007bff;

    padding: -0.5rem -1rem;
    
}
/*ajoute par sza*/
.ecrit-petit{
    font-family: Helvetica, Verdana, Arial, sans-serif;
    font-size: 75%;
}
table{
    border-collapse: collapse;
}
a {
    /*color: inherit;*/
    text-decoration: none;
}
.ajout-stage{
    z-index: 2;
    border: 1px solid black;
    width: 65%;
    height: 300px;
    position: fixed;
    left: 17.5%;
    top: 40%;
    background-color: #EFEFEF;
}
.popupvalidcontrat{
    background-color: whitesmoke;
    justify-content:center; 
    overflow-y:auto; 
    overflow-x: hidden;
    width:50%; 
    margin:auto; 
    border: solid 2px grey; 
    position: -webkit-sticky; 
    position: sticky;
    top: 10%; 
    left: 25%; 
    z-index:2;
}
.fiche-de-synthese tbody td{
    border: 1px solid black;
}
.div-table-contrat-compagnonnage td, .div-table-contrat-compagnonnage th {
    border: 1px solid black;
}
.navbar{
    font-size: 20px !important;
}
.tableContratDeCompagnonnage{
    width:100%;
    max-width:70%;
    overflow: auto;
    position: fixed;
}
.nomPersonnel:hover{
    display: auto;
}
.radio-input{
    position: relative; 
    top: 15px;
}
.ficheStage{
    width: 200px;
    max-height: 230px;
    overflow: hidden;
    background-color:white;
    margin:10px;
    padding: 10px;
    border: 1px solid darkgray;
}
.conteneurStage{
    height: 100%;
    overflow: auto;
    display: flex;
    padding: 20px;
    background: rgba(231, 232, 233, 0.699);
    border: 1px solid darkgray;
    
}
.flex{
    position: relative;
    display:flex;
    padding: 15px;
    justify-content: space-around;
}
.sticky-t{
    position: sticky; top: 0;
}
.demande:hover{
    cursor: pointer;}
.demandeValidation{
    max-height:150px;
    width:100%;
    justify-content:space-between;
    margin-left:auto;
    margin-right:auto; 
    margin-bottom:10px;
    display:flex; 
    font-size:2em;
    justify-content:space-between;
}
.midHorizon{
    margin-top:auto;
    margin-bottom: auto;

}

.choixPersonnel{
    border-color:transparent; 
    border-radius: 0px;
    height:95%;
    width:95%;
}
.titre{
    text-align: center;
    color: black; 
    font-family: Helvetica, Verdana, Arial, sans-serif;
    font-weight: bold;
    
}


#contratCompagnonnage th, #contratCompagnonnage td{
    border: 1px solid black;
}

.lignecomp{
    text-align: center !important;
    background-color: #F2DCDB !important;
    color: black;
    
}
.leVisa{
    background-color: #FDEADA !important;
}



/* Autre --------------------------------------------------------------------------------------------*/

.double, .lache{
    background-color: lightgray;
}
#lineaireFixed {
    position: fixed;
    top: 250px;
    left: 50px;
    width: 240px;
    height: 90px;
    background: #1f1f1f;
    padding: 20px;
    color: #fff;
    border: 1px solid #444;
    border-left: 1px solid #444;
    border-right: 1px solid #111;
    border-bottom: 1px solid #111;
    box-sizing: border-box;
}

.headcol {
    position: sticky;
    left: 0;
    /*only relevant for first row*/
    margin-top: -1px;
    /*compensate for top border*/

    border: 1px solid black;
    background-clip: padding-box;
    
}


.pSurvol:hover{
    font-weight: none;
    text-decoration: underline;
    cursor: pointer;
    color:#007bff;
}

.enTeteFicheSynthese{
    font-weight:bold;
    font-size:1.2em;
    background:white;
}
td:hover .enTeteFicheSynthese{
    color: black !important;
    background: white !important;
}

.hoverable:hover{
    cursor: pointer;
}

.horizontal-divider{
    border: 1px solid black;
    height: 100%;
    width: 10px; 
    background-color: grey;
    margin-left: 5px;
    margin-right: 5px;

}